<div class="bg-light p-5">
    <div class="container">
        <h1 class="display-4">SinemaMüzesi</h1>
        <p class="lead">
            Hoş Geldiniz!

            En sevdiğiniz filmleri ve keşfetmeyi bekleyen yeni favorilerinizi bulabileceğiniz bir film arşivine hoş geldiniz! Sitemizde, sinema tarihinin klasikleri, en yeni yapımlar ve her türden film seçenekleriyle dolu geniş bir koleksiyon sunuyoruz.
        </p>
    </div>
</div>