@model movieApp.web.Models.User

@{
    ViewBag.Title = "Hesabım";
}

<div class="container mt-4">
    <h2>Hesabım</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <div class="card-body text-center">
                    <!-- Profil Fotoğrafı -->
                    <img src="/img/userPhoto.jpeg" class="rounded-circle mb-3" alt="Profil Fotoğrafı" style="width: 150px; height: 150px; object-fit: cover;" />

                    <!-- Kullanıcı Bilgileri -->
                    <h5 class="card-title">@Model.Username</h5>
                    <p class="card-text"><strong>Email:</strong> @Model.Email</p>

                    <!-- Çıkış Yap Butonu -->
                    <a href="@Url.Action("Logout", "UserAccount")" class="btn btn-primary mt-3">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>
</div>
