@model List<movieApp.web.Entity.Movie>

<h2>İzleme Listem</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-4">
                @await Html.PartialAsync("_MovieCard", movie)
            </div>
        }
    </div>
}
else
{
    <p>İzleme listenizde henüz film yok.</p>
}
